.dashboard {
  margin-left: 270px; /* Starts just after the sidebar */
  background-color: #252B3A;
  color: #ffffff;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  padding: 25px 40px;
  display: flex;
  
  flex-direction: column;
}
.dashboardCon{
  height: 100%;
  width: 100%;
  border-radius: 18px;
  background-color: #191d27;
  overflow: scroll;
  padding: 1.5rem;
  box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0.1),
  0px 5px 10px 0px rgba(255, 255, 255, 0.05);
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #3A57E8, #A033E5, #F283E6);

  border-radius: 18px;
  padding: 1rem;
}

.headerContent h1 {
  font-size: 36px;
  margin: 0;
}

.headerContent p {
  font-size: 18px;
  color: #dcdcdc;
}

.controls {
  display: flex;
  align-items: center;
}

.dropdown {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333333;
}

.dropdown:hover {
  background-color: #f0f0f0;
}

.metricsSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.metricCard {
  background-color: #393d47;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}

.metricValues h4 {
  font-size: 18px;
  margin: 0;
}

.metricValues p {
  font-size: 20px;
  font-weight: bold;
  color: #a4b0be;
}

.mainContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  overflow: scroll;
}

.progresschart {
  background-color: #CADAFF;
  padding: 20px;
  border-radius: 10px;
}

.feedback {
  background-color: #CADAFF;
  padding: 20px;
  border-radius: 10px;
overflow: scroll;
}

.feedback h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
}

.transactionList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedbackContainer {
  background-color: white;
  border-radius: 10px;
  padding: 10px;

color: black;
}

.lowercontainer {
  display: flex;
flex-direction: column;

  margin-top: 10px;
}
.feedbackPoint {
  font-size: 16px;
  color: #333; /* Slightly darker text for better readability */
  font-weight: 500;
  line-height: 1.5;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 10px;
  background-color: #8aabfd;
  
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25); /* Black shadow with slight opacity */
}
