.sidebar {
    width: 270px;
    height: 100vh;
    background: #161A23;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
  }
  
  .logo {
    display: flex;

    margin-bottom: 2rem;
  }
  
  .logoIcon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  
  .profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  
  .profile h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: white;
  }
  
  .profile p {
    margin: 0;
    font-size: 0.9rem;
    color: #d3d3d3;
  }
  
  .nav {
    flex: 1;
  }
  
  .navItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: #d3d3d3;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  .navItem:hover {
    background: #5d93f8b3;
  }
  
  .navItem.active {
    background: #174eb3;
    color: white;
  }
  
  .navItem .icon {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .footer a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: white;
  }
  
  .logout {
    color: #f76b6b;
  }
  
  .logout:hover {
    color: #ff4b4b;
  }
  