.bigContainer {
  margin-left: 270px; /* Starts just after the sidebar */
  background-color: #252B3A;
  color: #ffffff;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  padding: 25px 40px;
  display: flex;
  
  flex-direction: column;
}
.container{
  height: 100%;
  max-width:1300px ;
  border-radius: 18px;
  background-color: #191d27;
  overflow: scroll;
  padding: 1.5rem;
  box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0.1),
  0px 5px 10px 0px rgba(255, 255, 255, 0.05);

}
.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #3A57E8, #A033E5, #F283E6);

  border-radius: 18px;
  padding: 1rem;
  width: 100%;
}


.voiceInputContainer {

  width: 100%;
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.feedbackform {
  margin-bottom: 20px;
}

.feedbackform select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.feedbackform select:focus {
  border-color: #007bff;
}
.selectState h2{

  text-align: left;
  font-size: 20px;
 
}
.selectState,
.selectDistrict {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.selectState select,
.selectDistrict select {
  width: 50%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
  margin-bottom: 15px;
}
.selectDistrict h3{
  font-size: 20px;
}
.chooseCategory h3{
  font-size: 20px;
}

.selectState select:focus,
.selectDistrict select:focus {
  border-color: #007bff;
}

.chooseCategory {
  margin-bottom: 20px;
}

.chooseCategory select {
  width: 50%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.button {
  padding: 12px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  align-self: center;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.selectLanguage {
  margin-top: 20px;
}

.selectLanguage select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.ratingContainer {
  margin-top: 20px;
  text-align: center;
}

.ratingContainer h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.ratingContainer p {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.ReactStars {
  display: inline-block;
  margin-top: 10px;
}
