.bigCon{
  padding-top: 50px;
  padding-left: 320px;
  height: 100vh;
  background-color: #F2F3FA;
  overflow: hidden;
}
.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.chartContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  background-color: #F2F3FA;
  /* padding-top: 30px;
  padding-left: 320px; */
  height: 100vh;
}

.chartBox {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  text-align: center;
}
.chartBox:nth-child(1){
  display: flex;
  flex-direction: column;
}

.chartBox:nth-child(1),
.chartBox:nth-child(2) {
  height: 250px; /* Reduced height */
}


.chartBox.thirdChart {
  grid-column: span 2; /* Makes the third chart span across both columns */
  height: 550px; /* Increase the height for the third chart */
}

.chartBox:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal {
display: flex;
flex-direction: column;
justify-content: center;


width: 500px;
  background: rgb(255, 255, 255);
 margin-top: 170px;
  margin-left: 37%;
  border-radius: 8px;
  padding: 1rem;
  overflow: auto;
}

.chartBox .firstChart{
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
  height: 200px;
}

.chartWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legendWrapper {
  text-align: left; /* Aligns the legend text on the left */
  padding-left: 10px; /* Optional, add spacing between the chart and the legend */
}