.graphContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns in the first row */
gap: 1rem;
    margin: 2rem 0;
    padding-left: 280px; /* Account for the sidebar width */
    padding: 70px 20%;
     /* Account for the header height */
    width: calc(100% - 280px); /* Adjust the width to fit the space left by the sidebar */
    height: calc(100vh - 70px); /* Adjust the height to fit the space left by the header */
    overflow-y: auto; /* Ensure the content is scrollable if necessary */
  }
  
  .graphCard1{
    background-color: #1e1e2f;
    padding: 1.5rem;
    margin: 0 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .graphCard {
    background-color: #1e1e2f;
    padding: 1.5rem;
    margin: 0 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }
  
  .graphCard h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .fullWidth {
    grid-column: span 2; /* Make the last card span across both columns */
  }
  
  @media (max-width: 768px) {
    .graphContainer {
      grid-template-columns: 1fr; /* Stack the cards vertically on smaller screens */
      padding-left: 0; /* Remove the left padding on smaller screens */
    }
  
    .fullWidth {
      grid-column: span 1; /* Keep the fullWidth card at full width on mobile */
    }
  }
  