.signupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.signupContent {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0 20px;

}

.illustration {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formContainer {
  flex: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.signup {
  background-color: #6f42c1;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup:hover {
  background-color: #5b32a8;
}

.span {
  text-align: center;
  font-size: 0.9rem;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.divider {
  color: #000;
  text-align: center;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.divider:not(:empty)::before {
  margin-right: 10px;
}

.divider:not(:empty)::after {
  margin-left: 10px;
}

.googlediv {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.googleButton {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.googleIcon {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
}
